.text-primary {
  color: #ffd333 !important;
}
.bg-primary {
  background-color: #ffd333 !important;
}
.text-secondary {
  color: #3d464d !important;
}
.bg-secondary {
  background-color: #3d464d !important;
}
.border-primary {
  border-color: #ffd333 !important;
}
.border-secondary {
  border-color: #3d464d !important;
}